{% extends "layout.html" %}
{% block content %}
    <section id="introduction" class="bg-white p-5 p-lg-5 pt-lg-5 text-center text-sm-start">
        <div class="container">

            {{ bus_type }}</br>
            {{ bus_kms }}</br>
            {{ co2_bus }}</br>
            {{ form.bus_type }}</br>
            {{ form.bus_kms }}</br>
            {{ form.bus_co2 }}


            <div class="section_caculator_output_css">
                <div class="box">
                    <legend class="border-bottom mb-4">{{ legend }}</legend>
                    <p>{{ paragraph }}</p>
                        <form method="POST" action="">
                            {{ form.csrf_token }}
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.bus_type.label(class="form-control-label") }}
                                    {% if form.bus_type.errors %}
                                        {{ form.bus_type(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.bus_type.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.bus_type(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="box">
                                    {{ form.bus_kms.label(class="form-control-label") }}
                                    {% if form.bus_kms.errors %}
                                        {{ form.bus_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.bus_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.bus_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                                <div class="box">
                                    {{ form.bus_co2.label(class="form-control-label") }}
                                    {{ form.bus_co2(class="form-control form-control-lg") }}
                                </div>
                            </div>

                            </br>
                            <div class="form-group">
                                <a href="{{ url_for('app_calculator') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">New Entry</a>
                            </div>
                        </form>
                </div>
                <div class="box">
                    <canvas id="co2_transport"></canvas>
                </div>
            </div>

        </div>
    </section>
{% endblock content %}